html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background: #fff !important;

  }

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

@import url("./SearchComponent.css");
@import url("./login.css");
@import url("./register.css");
@import url("./ProductItem.css");
@import url("./Sidebar.css");
@import url("./InfoResult.css");
@import url("./Loadin.css");

/* TABLE TOOLS */
@import url("./userTools/ToolsTable.css");